*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cactus{
    position: absolute;
    bottom: 0;
    right: -60px;
    width: 60px;
    animation: cactus-animation 2s infinite linear;
}

@keyframes cactus-animation{
    from{
        right: -60px;
    }

    to{
        right: 100%;
    }
}